# Data Mining Versuch Fahrzeugdaten

* Autor: Prof. Dr. Johannes Maucher

## Abgabe:

- **Abzugeben ist das Jupyter Notebook mit dem verlangten Implementierungen und den entsprechenden Ausgaben.**
- **Das Notebook ist als .ipynb und als .html abzugeben.**
- **Klausurelevante Fragen sind Dokument "Fragenkatalog Datamining" zu finden.**
- Antworten auf Fragen im Notebook, Diskussionen und Beschreibung der Ergebnisse sind optional (aber empfohlen) und werden nicht bewertet.

* [Übersicht Data Mining Praktikum](https://maucher.pages.mi.hdm-stuttgart.de/ai/page/dm/)


# Einführung

## Lernziele:

In diesem Versuch sollen Kenntnisse in folgenden Themen vermittelt werden:

* Datenimport und Datenexport von und zu 
    * Pandas Dataframes
    * PostgreSQL Datenbanken
* Explorative Datenanalysen (EDA)
* Datenvisualisierung mit Matplotlib und plotly
* Überwachtes Lernen eines Klassifikationsmodells
* Überwachtes Lernen eines Regressionsmodells
* Evaluation von Klassifikationsmodellen
* Evaluation von Regressionsmodellen
* Kreuzvalidierung
* Hyperparameteroptimierung

## Vorbereitung

### Datenbankzugriff

1. Installieren Sie PostgreSQL. Mit PostgreSQL sollte auch pgAdmin installiert werden. PgAdmin ist eine open-source Software für die Entwicklung und die Administration von PostgreSQL Datenbanken.
2. Legen Sie über pgAdmin eine Datenbank für das Datamining-Praktikum an. In diese Datenbank werden alle in diesem Versuch relevanten Tabellen geschrieben.
3. Für den Datenbankzugriff aus Python heraus wird in diesem Versuch [SQLAlchemy](http://docs.sqlalchemy.org/en/latest/intro.html) eingesetzt. Machen Sie sich mit den Basics von SQLAlchemy vertraut, z.B. mithilfe von [https://maucher.pages.mi.hdm-stuttgart.de/python4datascience/07DataBaseSQL.html#using-sqlalchemy-and-pandas](https://maucher.pages.mi.hdm-stuttgart.de/python4datascience/07DataBaseSQL.html#using-sqlalchemy-and-pandas), Abschnitt *Using SQLAlchemy and Pandas*.

### Pandas Dataframe

Machen Sie sich mit den Grundlagen von Pandas vertraut.


### Machine Learning

Machen Sie sich mit Entscheidungsbäumen, Random Forest, Single Layer Perzeptron und Multi Layer Perzeptron vertraut.

In [1]:
from sqlalchemy import create_engine, inspect, text

# connection
conn_str = 'postgresql://username:password@localhost:5432/dbname'
engine = create_engine(conn_str).connect()
print(engine)

# check if a table exists
inspec = inspect(engine)
print(inspec.has_table("vehicledata"))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfc in position 97: invalid start byte

# Durchführung

## Einlesen der Daten aus .csv und Ablage in PostgreSQL
In diesem ersten Teil des Versuchs sollen die relevanten Daten aus dem .csv-File eingelesen und in einer PostgreSQL-Tabelle abgelegt werden. Das benötigte File `Fahrzeuginformationen.csv` liegt im aktuellen Verzeichnis.

1. Laden Sie die .csv-Datei in einen Pandas Dataframe. 

2. Zeigen Sie für den angelegten Dataframe 
    * die ersten 10 Zeilen
    * die Größe (Anzahl Zeilen und Anzahl Spalten)
    * die Anzahl der NaNs pro Spalte
    an. 
3. Zeigen Sie mit der Pandas-Dataframe Methode `info()`, den Datentyp aller Spalten an. Der Typ der Spalte `CO2-Emissionen` ist tatsächlich kein numerischer Typ. Finden Sie heraus warum das so ist. Beheben Sie den *Fehler* und sorgen Sie dafür, dass auch diese Spalte einen numerischen Typ hat.

4. Schreiben Sie den im vorigen Schritt angepassten Dataframe mit der Pandas Methode `to_sql()` in eine Datenbanktabelle mit dem Namen `vehicledata`.

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\danna\Desktop\Patryk\HdM\Data Mining\Experiment_1\Fahrzeuginformationen.csv')
df[:10]

,HST Benennung,HT Benennung,UT Benennung,Karosserie,Neupreis Brutto,Produktgruppe,Kraftstoffart,Schadstoffklasse,CCM,KW,...,Zuladung,Zulässiges GG,Länge,Breite,Höhe,CO2-Emissionen,Min Energieeffizienzklasse,Antrieb,KSTA Motor,HST-HT Benennung
0,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Trendline,Bs,37962,T5-Klasse Pkw,BS,E6,1896,112,...,905,2967.615635,4852,1849,2019,218,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
1,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Comfortline,Bs,45294,T5-Klasse Pkw,BS,E6,1990,110,...,753,3061.848723,4859,1827,1938,218,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
2,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Generation Six,Bs,48675,T5-Klasse Pkw,BS,E6,1943,110,...,768,3018.887414,4788,1823,1990,218,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
3,Volkswagen,T6 Bus (SG)(05.2015->),Multivan 70 Jahre Bulli,Bs,47201,T5-Klasse Pkw,BS,E6,2013,110,...,1007,3096.198902,4927,1952,1935,210,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
4,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Join,Bs,49453,T5-Klasse Pkw,BS,E6,1945,112,...,972,3068.590854,4916,1872,2026,210,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
5,Volkswagen,T6 Bus (SG)(05.2015->),Multivan PanAmericana,Bs,50795,T5-Klasse Pkw,BS,E6,1938,109,...,823,3046.890761,4886,1895,1933,210,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
6,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Edition,Bs,51605,T5-Klasse Pkw,BS,E6,1956,111,...,724,2957.083511,4658,1946,1954,210,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
7,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Join lang,Bs,54560,T5-Klasse Pkw,BS,E6,1946,110,...,960,3099.520813,5162,1883,2000,212,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
8,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Highline,Bs,57729,T5-Klasse Pkw,BS,E6,1966,106,...,707,3033.083391,4994,1871,1980,218,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)
9,Volkswagen,T6 Bus (SG)(05.2015->),Multivan Business,Bs,97850,T5-Klasse Pkw,BS,E6,2029,106,...,605,3006.976797,4948,1900,1931,218,D,FA,STANDARD ->B,Volkswagen-T6 Bus (SG)(05.2015->)

In [14]:
print('Rows:', len(df.index))
print('Columns', len(df.columns))
df.isna().sum()

Rows: 24194
Columns 25

HST Benennung                 0
HT Benennung                  0
UT Benennung                  0
Karosserie                    0
Neupreis Brutto               0
Produktgruppe                 0
Kraftstoffart                 0
Schadstoffklasse              0
CCM                           0
KW                            0
HST PS                        0
Getriebeart                   0
Getriebe Benennung            0
Anzahl der Türen              0
Leergewicht                   0
Zuladung                      0
Zulässiges GG                 0
Länge                         0
Breite                        0
Höhe                          0
CO2-Emissionen                0
Min Energieeffizienzklasse    0
Antrieb                       0
KSTA Motor                    0
HST-HT Benennung              0
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24194 entries, 0 to 24193
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   HST Benennung               24194 non-null  object
 1   HT Benennung                24194 non-null  object
 2   UT Benennung                24194 non-null  object
 3   Karosserie                  24194 non-null  object
 4   Neupreis Brutto             24194 non-null  int64
 5   Produktgruppe               24194 non-null  object
 6   Kraftstoffart               24194 non-null  object
 7   Schadstoffklasse            24194 non-null  object
 8   CCM                         24194 non-null  int64
 9   KW                          24194 non-null  int64
 10  HST PS                      24194 non-null  int64
 11  Getriebeart                 24194 non-null  object
 12  Getriebe Benennung          24194 non-null  object
 13  Anzahl der Türen            24194 non-null  int64
 14  Leergewicht                 24194 non-null  int64
 15  Zuladung                    24194 non-null  int64
 16  Zulässiges GG               24194 non-null  float64
 17  Länge                       24194 non-null  int64
 18  Breite                      24194 non-null  int64
 19  Höhe                        24194 non-null  int64
 20  CO2-Emissionen              24194 non-null  object
 21  Min Energieeffizienzklasse  24194 non-null  object
 22  Antrieb                     24194 non-null  object
 23  KSTA Motor                  24194 non-null  object
 24  HST-HT Benennung            24194 non-null  object
dtypes: float64(1), int64(10), object(14)
memory usage: 4.6+ MB

In [20]:
df.dtypes

HST Benennung                  object
HT Benennung                   object
UT Benennung                   object
Karosserie                     object
Neupreis Brutto                 int64
Produktgruppe                  object
Kraftstoffart                  object
Schadstoffklasse               object
CCM                             int64
KW                              int64
HST PS                          int64
Getriebeart                    object
Getriebe Benennung             object
Anzahl der Türen                int64
Leergewicht                     int64
Zuladung                        int64
Zulässiges GG                 float64
Länge                           int64
Breite                          int64
Höhe                            int64
CO2-Emissionen                 object
Min Energieeffizienzklasse     object
Antrieb                        object
KSTA Motor                     object
HST-HT Benennung               object
dtype: object

In [22]:
list(df['CO2-Emissionen'])

['218',
 '218',
 '218',
 '210',
 '210',
 '210',
 '210',
 '212',
 '218',
 '218',
 '213',
 '213',
 '206',
 '206',
 '218',
 '206',
 '218',
 '206',
 '212',
 '212',
 '209',
 '212',
 '212',
 '216',
 '156',
 '156',
 '148',
 '148',
 '156',
 '130',
 '137',
 '137',
 '159',
 '173',
 '159',
 '173',
 '156',
 '156',
 '178',
 '173',
 '158',
 '173',
 '164',
 '167',
 '167',
 '167',
 '167',
 '167',
 '167',
 '167',
 '167',
 '167',
 '167',
 '172',
 '161',
 '172',
 '161',
 '172',
 '161',
 '162',
 '172',
 '159',
 '172',
 '178',
 '161',
 '172',
 '167',
 '133',
 '133',
 '137',
 '137',
 '137',
 '127',
 '127',
 '127',
 '129',
 '126',
 '126',
 '126',
 '126',
 '128',
 '128',
 '126',
 '129',
 '129',
 '126',
 '126',
 '148',
 '148',
 '148',
 '148',
 '148',
 '152',
 '155',
 '171',
 '159',
 '171',
 '159',
 '152',
 '157',
 '165',
 '156',
 '157',
 '166',
 '139',
 '139',
 '142',
 '142',
 '139',
 '139',
 '142',
 '144',
 '145',
 '146',
 '146',
 '146',
 '143',
 '145',
 '147',
 '142',
 '147',
 '147',
 '142',
 '171',
 '164',
 '139',
 '139',
 '146',
 '146',
 '146',
 '146',
 '142',
 '143',
 '143',
 '146',
 '147',
 '142',
 '147',
 '147',
 '181',
 '168',
 '142',
 '164',
 '153',
 '168',
 '161',
 '171',
 '164',
 '163',
 '175',
 '146',
 '146',
 '168',
 '162',
 '206',
 '203',
 '147',
 '142',
 '147',
 '146',
 '146',
 '150',
 '147',
 '142',
 '151',
 '147',
 '168',
 '161',
 '151',
 '153',
 '193',
 '190',
 '142',
 '168',
 '161',
 '142',
 '168',
 '162',
 '139',
 '142',
 '146',
 '146',
 '168',
 '162',
 '143',
 '181',
 '168',
 '147',
 '147',
 '181',
 '168',
 '164',
 '153',
 '171',
 '164',
 '181',
 '168',
 '163',
 '178',
 '181',
 '168',
 '183',
 '171',
 '164',
 '153',
 '182',
 '206',
 '203',
 '162',
 '156',
 '171',
 '164',
 '183',
 '162',
 '156',
 '182',
 '171',
 '164',
 '163',
 '178',
 '181',
 '168',
 '161',
 '155',
 '206',
 '203',
 '174',
 '168',
 '173',
 '167',
 '193',
 '190',
 '183',
 '173',
 '167',
 '174',
 '163',
 '209',
 '204',
 '203',
 '206',
 '164',
 '158',
 '203',
 '206',
 '193',
 '190',
 '167',
 '161',
 '176',
 '167',
 '193',
 '190',
 '196',
 '193',
 '203',
 '206',
 '176',
 '170',
 '171',
 '164',
 '193',
 '190',
 '159',
 '154',
 '159',
 '154',
 '157',
 '157',
 '157',
 '157',
 '157',
 '157',
 '157',
 '176',
 '157',
 '177',
 '176',
 '157',
 '176',
 '177',
 '176',
 '176',
 '177',
 '176',
 '176',
 '176',
 '176',
 '154',
 '177',
 '154',
 '177',
 '143',
 '143',
 '143',
 '143',
 '143',
 '143',
 '143',
 '143',
 '143',
 '143',
 '151',
 '151',
 '155',
 '151',
 '162',
 '162',
 '162',
 '162',
 '161',
 '161',
 '155',
 '161',
 '161',
 '162',
 '162',
 '162',
 '162',
 '151',
 '151',
 '161',
 '161',
 '155',
 '155',
 '161',
 '161',
 '162',
 '162',
 '162',
 '161',
 '161',
 '161',
 '162',
 '159',
 '168',
 '161',
 '163',
 '168',
 '168',
 '169',
 '162',
 '169',
 '169',
 '151',
 '155',
 '161',
 '161',
 '162',
 '162',
 '155',
 '155',
 '155',
 '156',
 '155',
 '156',
 '155',
 '172',
 '155',
 '172',
 '156',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '158',
 '177',
 '158',
 '177',
 '162',
 '162',
 '165',
 '165',
 '182',
 '182',
 '182',
 '186',
 '167',
 '182',
 '182',
 '182',
 '213',
 '182',
 '186',
 '167',
 '213',
 '182',
 '167',
 '168',
 '189',
 '214',
 '213',
 '213',
 '189',
 '213',
 '189',
 '191',
 '167',
 '189',
 '177',
 '173',
 '177',
 '173',
 '177',
 '173',
 '173',
 '178',
 '188',
 '177',
 '173',
 '188',
 '178',
 '177',
 '173',
 '188',
 '178',
 '173',
 '178',
 '188',
 '178',
 '188',
 '178',
 '178',
 '155',
 '155',
 '155',
 '156',
 '155',
 '156',
 '155',
 '172',
 '155',
 '172',
 '156',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '172',
 '216',
 '213',
 '218',
 '213',
 '218',
 '162',
 '162',
 '164',
 '164',
 '164',
 '197',
 '222',
 '133',
 '137',
 '133',
 '137',
 '137',
 '137',
 '133',
 '137',
 '137',
 '137',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '126',
 '162',
 '181',
 '162',
 '181',
 '164',
 '183',
 '164',
 '183',
 '159',
 '181',
 '164',
 '183',
 '159',
 '181',
 '164',
 '183',
 '164',
 '183',
 '164',
 '183',
 '164',
 '183',
 '162',
 '181',
 '197',
 '197',
 '222',
 '197',
 '139',
 '139',
 '151',
 '147',
 '151',
 '139',
 '151',
 '139',
 '147',
 '139',
 '151',
 '151',
 '147',
 '142',
 '151',
 '151',
 '151',
 '151',
 '151',
 '145',
 '146',
 '146',
 '143',
 '146',
 '147',
 '139',
 '151',
 '147',
 '151',
 '168',
 '161',
 '181',
 '168',
 '168',
 '162',
 '164',
 '153',
 '163',
 '178',
 '206',
 '203',
 '171',
 '164',
 '182',
 '183',
 '171',
 '164',
 '193',
 '190',
 '193',
 '190',
 '168',
 '181',
 '153',
 '164',
 '206',
 '203',
 '163',
 '178',
 '157',
 '157',
 '157',
 '157',
 '176',
 '157',
 '177',
 '157',
 '157',
 '157',
 '157',
 '176',
 '177',
 '176',
 '177',
 '157',
 '177',
 '225',
 '225',
 '244',
 '197',
 '244',
 '244',
 '225',
 '225',
 '166',
 '181',
 '166',
 '181',
 '166',
 '181',
 '168',
 '183',
 '183',
 '181',
 '168',
 '183',
 '166',
 '181',
 '168',
 '183',
 '168',
 '183',
 '168',
 '183',
 '168',
 '183',
 '168',
 '183',
 '168',
 '183',
 '168',
 '183',
 '166',
 '181',
 '166',
 '181',
 '151',
 '155',
 '160',
 '163',
 '160',
 '155',
 '160',
 '151',
 '163',
 '155',
 '160',
 '160',
 '159',
 '163',
 '160',
 '160',
 '166',
 '160',
 '166',
 '155',
 '160',
 '163',
 '160',
 '139',
 '161',
 '161',
 '155',
 '162',
 '162',
 '155',
 '155',
 '156',
 '155',
 '155',
 '172',
 '155',
 '156',
 '172',
 '155',
 '156',
 '179',
 '172',
 '172',
 '172',
 '172',
 '179',
 '199',
 '199',
 '155',
 '172',
 '155',
 '172',
 '162',
 '182',
 '165',
 '182',
 '213',
 '167',
 '186',
 '167',
 '189',
 '189',
 '182',
 '213',
 '177',
 '173',
 '178',
 '188',
 '173',
 '177',
 '178',
 '188',
 '155',
 '155',
 '156',
 '155',
 '155',
 '172',
 '155',
 '156',
 '172',
 '155',
 '156',
 '172',
 '172',
 '172',
 '172',
 '155',
 '172',
 '155',
 '172',
 '140',
 '140',
 '140',
 '146',
 '155',
 '146',
 '155',
 '148',
 '160',
 '148',
 '160',
 '160',
 '160',
 '160',
 '144',
 '150',
 '144',
 '150',
 '152',
 '152',
 '159',
 '159',
 '159',
 '201',
 '118',
 '118',
 '118',
 '124',
 '125',
 '126',
 '125',
 '116',
 '125',
 '124',
 '125',
 '99',
 '115',
 '111',
 '126',
 '125',
 '126',
 '99',
 '115',
 '111',
 '111',
 '115',
 '123',
 '126',
 '115',
 '111',
 '126',
 '126',
 '126',
 '116',
 '111',
 '99',
 '126',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '112',
 '90',
 '88',
 '110',
 '110',
 '90',
 '88',
 '88',
 '90',
 '117',
 '90',
 '88',
 '90',
 '88',
 '110',
 '110',
 '110',
 '110',
 '88',
 '97',
 '99',
 '97',
 '99',
 '99',
 '97',
 '97',
 '99',
 '99',
 '99',
 '116',
 '115',
 '115',
 '131',
 '131',
 '131',
 '99',
 '99',
 '99',
 '99',
 '99',
 '123',
 '125',
 '100',
 '123',
 '125',
 '123',
 '125',
 '123',
 '125',
 '126',
 '129',
 '123',
 '125',
 '104',
 '104',
 '100',
 '112',
 '100',
 '112',
 '112',
 '119',
 '123',
 '123',
 '126',
 '123',
 '126',
 '123',
 '126',
 '159',
 '159',
 '159',
 '140',
 '112',
 '140',
 '112',
 '112',
 '140',
 '139',
 '140',
 '138',
 '138',
 '138',
 '138',
 '138',
 '138',
 '123',
 '118',
 '128',
 '118',
 '123',
 '123',
 '128',
 '123',
 '128',
 '164',
 '124',
 '129',
 '148',
 '148',
 '129',
 '124',
 '148',
 '148',
 '175',
 '129',
 '124',
 '148',
 '148',
 '129',
 '124',
 '129',
 '124',
 '148',
 '148',
 '148',
 '148',
 '152',
 '152',
 '151',
 '134',
 '139',
 '128',
 '134',
 '128',
 '134',
 '128',
 '134',
 '125',
 '127',
 '128',
 '134',
 '130',
 '137',
 '128',
 '134',
 '125',
 '127',
 '128',
 '134',
 '124',
 '120',
 '129',
 '121',
 '129',
 '121',
 '129',
 '121',
 '135',
 '135',
 '149',
 '149',
 '135',
 '135',
 '149',
 '149',
 '149',
 '149',
 '139',
 '134',
 '154',
 '154',
 '156',
 '134',
 '139',
 '155',
 '151',
 '129',
 '129',
 '139',
 '134',
 '176',
 '176',
 '176',
 '134',
 '139',
 '153',
 '155',
 '156',
 '156',
 '156',
 '156',
 '156',
 '139',
 '133',
 '133',
 '142',
 '142',
 '142',
 '139',
 '133',
 '133',
 '142',
 '142',
 '142',
 '139',
 '133',
 '133',
 '139',
 '133',
 '133',
 '142',
 '142',
 '142',
 '136',
 '136',
 '142',
 '142',
 '142',
 '136',
 '136',
 '136',
 '136',
 '162',
 '150',
 '150',
 ...]

In [24]:
df['CO2-Emissionen'].astype(float)

ValueError: could not convert string to float: '9,2'

In [ ]:
#conda install -y psycopg2
#!conda install -y -c anaconda sqlalchemy

## Exemplarische Datenbankabfragen

1. Verwenden Sie Pandas Dataframe Methode `read_sql_query()` um 3 für Sie interessante Datenbankabfragen zu implementieren. Die Resultate der Abfragen werden in einen Pandas Dataframe geschrieben. Zeigen Sie diese an.

## Data Exploration
1. Zeigen Sie für alle Spalten die Anzahl der unterschiedlichen Werte in dieser Spalte an.
2. Benutzen Sie die Pandas Dataframe Methode `describe()` um sämtliche deskriptiven Statistiken anzuzeigen.
3. Legen Sie eine Liste `numeric_features` an, welche nur die Spaltennamen der numerischen Spalten enthält.
4. Schreiben Sie die Namen aller nicht-numerischen Spalten in eine Liste `categoric_features`.
5. Visualisieren Sie für die Spalten `HST_Benennung`, `Neupreis Brutto`, `CO2-Emissionen` und `Produktgruppe` die Verteilung der Werte in einem Barplot bzw. Histogramm.

## Machine Learning 1: Produktgruppenbestimmung

In diesem Abschnitt soll ein Klassifikator trainiert werden, welcher anhand von Eingabemerkmalen, wie *Breite*, *Höhe*, *Gewicht* usw. das zugehörige Fahrzeugsegment (`Produktgruppe`) vorhersagt.

In diesem Teilversuch sollen als Eingabemerkmale die zuvor in `numeric_features` definierten Spalten und die nicht-numerischen Spalten `Antrieb`, `Kraftstoffart`, `KSTA Motor` verwendet werden. Die Zielvariable (Ausgabe) stellt die Spalte `Produktgruppe` dar.


### Produktgrunppenspezifische Visualisierung

1. Plotten Sie für die drei oben angegebenen nicht-numerischen Merkmale jeweils eine Produktgruppen-spezifische Häufigkeitsverteilung in der unten dargestellten Form. 

<img src="https://maucher.home.hdm-stuttgart.de/Pics/antrieb_produktgruppe.png" style="width:500px" align="center">

2. Plotten Sie für alle numerischen Merkmale jeweils einen Produktgruppen-spezifischen Boxplot in der unten dargestellten Form. 

<img src="https://maucher.home.hdm-stuttgart.de/Pics/neupreis_produktgruppe.png" style="width:500px" align="center">

3. Erzeugen Sie mit [plotly.express scatter()](https://plotly.com/python/line-and-scatter/) einen 2-dimensionalen Plot, in dem alle Fahrzeuge wie folgt dargestellt werden (pro Fahrzeug ein Marker):
- x-Achse: `Länge`
- y-Achse: `Höhe`
- Farbe des Markers: `Produktgruppe`
- Größe des Markers: `Leergewicht`
- Bei *Mouse-Over* soll für den jeweiligen Marker der entsprechende Wert von `Neupreis Brutto` und `HST-HT Benennung` angezeigt werden.

### Data Encoding

1. Categoriale Merkmale ohne Ordnungsrelation (=nominale Merkmale) müssen One-Hot-Encodiert werden. Führen Sie für die drei categorialen Merkmale ein One-Hot-Encoding mit dem [scikit-learn LabelBinarizer](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelBinarizer.html) durch.
2. Fügen Sie die one-hot-encodierten Spalten mit den numerischen Spalten zusammen. Weisen Sie die entsprechende Eingabedatenmatrix einem 2-dimensionalen numpy-array `X` zu. 
3. Führen Sie auf die Zielvariable `Produktgruppe` ein Label-Encoding mit [scikit-learn LabelEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html#sklearn.preprocessing.LabelEncoder) aus. Weisen Sie diese Daten dem 1-dimensionalen numpy-array `y` zu.

### Generate Training- and Testpartition
Benutzen Sie die [scikit-learn Methode train_test_split()](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) um `X` und `y` in einer Trainings- und Testpartition aufzuteilen. 30% der Daten soll für das Testen, 70% für das Training benutzt werden.

### Decision Tree Training, Test and Evaluation
1. Trainieren Sie einen [Entscheidungsbaum](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html) mit den Trainingsdaten.
2. Wenden Sie den gelernten Entscheidungsbaum auf die Testdaten an.
3. Evaluieren Sie die Qualität des Entscheidungsbaumes indem Sie 
     - einen [classification_report](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html) erzeugen. 
     - die [confusion matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.ConfusionMatrixDisplay.html) plotten.
4. Interpretieren Sie das Ergebnis.
5. Führen Sie eine [10-fache Kreuzvalidierung](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html) des Entscheidungsbaumes mit den Daten `X` und `y` aus. Interpretieren Sie das Ergebnis.
6. Bestimmen Sie die *Wichtigkeit* der Eingabemerkmale für die Klassifikationsaufgabe, indem Sie auf den in 1.) gelernten DecisionTree das Attribut `feature_importance_` abfragen. Stellen Sie die Werte in einem Barplot dar.

### Random Forest Training, Test and Evaluation
Wiederholen Sie die Teilaufgaben 1. bis 5. des Entscheidungsbaums für einen [Random Forest](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html). Vergelichen Sie die Performance der beiden Verfahren.

## Machine Learning 2: Schätzung der CO2-Emission
In diesem Teilversuch soll aus den Eingabemerkmalen 

`"CCM","HST PS", "Anzahl der Türen", "Leergewicht", "Zuladung", "Länge", "Breite", "Höhe"`

die Zielvariable 

`CO2-Emissionen`

geschätzt werden. Hierzu soll ein möglichst gutes Regressionsmodell trainiert werden.

### Visuelle Korrelationsanalyse
1. Stellen Sie für jedes der 8 Eingabemerkmale die Korrelation mit der Zielvariablen visuell in einem Scatterplot dar, in dem das jeweilige Eingabemerkmal auf der x-Achse und die Zielvariable auf der y-Achse aufgetragen wird.
2. Diskutieren Sie die Korrelationen. Welche Merkmale korrelieren am stärksten mit der Zielvariable? Erscheint Ihnen das plausibel?

### Data Encoding
1. Weisen Sie die Matrix der Eingabedaten dem 2-dimensionalen Array `X` und die Zielvariable dem 1-dimensionalen Array `y` zu.
2. Führen Sie auf `X` und `y` eine Partitionierung in Trainings- und Testdaten durch, wieder im Verhältnis 70/30.
3. Skalieren Sie die Eingabevariablen und die Zielvariable mit dem [MinMaxScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html). Die Skalierung muss sowohl auf Trainings- als auch auf Testdaten ausgeführt werden. Warum darf die Skalierung erst nach dem Split in die beiden Partitionen ausgeführt werden? Worauf ist zu achten?

### Training, Test und Evaluation verschiedener Regressionsmodelle

Führen Sie die folgenden Teilaufgaben sowohl für ein [Single Layer Perceptron](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html) als auch für ein [Multi Layer Perceptron](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html) mit 20 Neuronen in der Hidden-Schicht durch. Vergleichen Sie am Ende die Performance der beiden Verfahren.
1. Trainieren Sie den Algorithmus mit den Trainingsdaten.
2. Wenden Sie das gelernte Modell auf die Testdaten an.
3. Evaluieren Sie die Qualität der Modelle, indem Sie auf die vorhergesagten Ausgaben und die wahren Ausgaben die unten gegebene Funktion aufrufen.
4. Beschreiben Sie kurz die in der Funktion verwendeten Metriken

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, median_absolute_error, r2_score

In [ ]:
def determineRegressionMetrics(y_test,y_pred,title=""):
    mse = mean_squared_error(y_test, y_pred)
    mad = mean_absolute_error(y_test, y_pred)
    rmsle=np.sqrt(mean_squared_error(np.log(y_test+1),np.log(y_pred+1)))# +1 for avoiding log(0) 
    r2=r2_score(y_test, y_pred)
    med=median_absolute_error(y_test, y_pred)
    print(title)
    print("Mean absolute error =", round(mad, 2))
    print("Mean squared error =", round(mse, 2))
    print("Median absolute error =", round(med, 2))
    print("R2 score =", round(r2, 2))
    print("Root Mean Squared Logarithmic Error =",rmsle)

### Hyperparameteroptimierung

Für ein [Multi Layer Perceptron](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPRegressor.html) soll eine Hyperparameteroptimierung durchgeführt werden. Ziel ist es innerhalb der unten vorgegebenen Wertebereiche für die Hyperparameter `hidden_layer_sizes`, `activation` und `learning_rate` die beste Konfiguration zu finden. Hierzu kann entweder [GridSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV) oder [RandomizedSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html) eingesetzt werden. GridSearchCV testet einfach alle Konfigurationen durch, benötigt daher aber viel Zeit. RandomizedSearchCV geht heuristisch und damit schneller durch den Suchraum. Wenden Sie eines dieser beiden Verfahren an, um für das unten gegebene Parameter-Grid die optimale Konfiguration zu finden. Welches ist die optimale Konfiguration und zu welchem `neg_mean_absolute_error` führt diese wenn man das scoring argument der Funktion entsprechend einstellt?

In [ ]:
param_grid = [{'hidden_layer_sizes': [(10,),(20,),(30,),(40,),(50,),(100,),(10,10)], 
               'activation': ["logistic", "tanh", "relu"], 
               'learning_rate': ["constant", "invscaling", "adaptive"]}]
param_grid